@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table style="height: 600px; width:100%">
    <tbody>
        <tr>
            <td class="align-middle">
                <center>
                    <img src="~/images/crane-machine.svg" width="256" height="256" />
                </center>
            </td>
        </tr>
    </tbody>
</table>